<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Computer properties example</title>
    <script src="../libs/vue.js" charset="utf-8"></script>
  </head>
  <body>

    <div id="main">
      <h2>Simple comupted property</h2>
      <p>Fullname is a combination of first and last names</p>
      <p>Fullname: {{ fullName }} </p>

      <h2> Temperature tables </h2>
      <table>
        <tr>
          <th>Kelvin</th>
          <td><input v-model="kelvin" /></td>
        </tr>
        <tr>
          <th>Centigrade</th>
          <td><input v-model="centigrade" /></td>
        </tr>
      </table>
    </div>

    <script src="./example.js" charset="utf-8"></script>
  </body>
</html>
