<template>
  <h1>This message is from data - :: {{msg}}</h1>
  <incoffee></incoffee>
</template>

<script>
import InCoffee from './InCoffee.vue' 

export default {
  data () {
    return {
      msg: "Hello world"
    }
  },
  components: {
    'incoffee': InCoffee
  }
}
</script>
