<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
  </head>
  <body>

    <div id="main">
      {{message}}
    </div>

    <script>
      new Vue({
        el: "#main",
        data: {
          message: "Hello Wrold !"
        }
      })
    </script>
  </body>
</html>
