<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
  </head>
  <body>
    <div id="main">
      <h2>{{message}}</h2>
      <input v-model="message"/>
    </div>

    <script type="text/javascript">
      new Vue({
        el: "#main",
        data: {
          message: "This is fungable"
        }
      })
    </script>

  </body>
</html>
