<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
  </head>
  <body>

    <div id="main">
      <h2>{{ message }}</h2>
      <button v-on:click="reverseMessage"> Reverse Message </button>
    </div>

    <script type="text/javascript">
      new Vue({
        el: "#main",
        data: {
          message: "The message"
        },
        methods: {
          reverseMessage: function() {
            this.message = this.message.split(" ").reverse().join(' ');
          }
        }
      })
    </script>
  </body>
</html>
