<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
  </head>
  <body>

    <div id="main">
      <ul>
        <li v-for="todo in todos">
          <span>{{ todo }}</span>
          <button v-on:click="removeTodo($index)">X</button>
        </li>
      </u>
      <h3>Add Todo</h3>
      <input v-model="newTodo" v-on:keyup.enter="addTodo" />
    </div>

    <script type="text/javascript">
      new Vue({
        el: "#main",
        data: {
          newTodo: '',
          todos: [
            "Add more todos"
          ]
        },
        methods: {
          addTodo: function() {
            this.todos.push(this.newTodo);
            this.newTodo = '';
          },

          removeTodo: function(index) {
            this.todos.splice(index, 1);
          }
        }
      })
    </script>
  </body>
</html>
