<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue custom events</title>
    <script src="../libs/vue.js" charset="utf-8"></script>
  </head>
  <body>

    <div id="main">
      <h1>Messages</h1>
      <ol>
        <li v-for="message in messages" track-by="$index">
            {{ message }}
        </li>
      </ol>

      <child></child>

      <!-- Alternate recomended version of custom events -->
      <child v-on:new-message="handleNewMessage"></child>
    </div>

    <template id="child">
      <br>
      <input v-model="msg" @keyup.enter="sendMessage"/>
      <button @click="sendMessage">Add Message</button>
    </template>

    <script src="./components-custom-events.js" charset="utf-8"></script>
  </body>
</html>
