<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Passing Data :: Props</title>
    <script src="../libs/vue.js"></script>
  </head>
  <body>


    <div id="main">

      <h3>Synced var between child and parent</h3>
      <p>Value of shared var 2 in parent :: {{pSharedVar2}}</p>
      <input v-model="pSharedVar2" />

      <child1
        msg="Hello There"
        v-bind:shared-var1="pSharedVar1"
        v-bind:shared-var2.sync="pSharedVar2"></child>
    </div>

    <!-- Child1's template -->
    <template id="child1-template">
      <p>Message from parent :: {{msg}}</p>
      <p>Value of shared variable 1 :: {{sharedVar1}}</p>
      <br>
      <h3>Synced var between child and parent</h3>
      <p>Value of shared var 2 in child :: {{sharedVar2}}</p>
      <input v-model="sharedVar2" />
    </template>

    <script src="./component-props.js" charset="utf-8"></script>
  </body>
</html>
