<template>
  <h1>This message is from data - :: {{msg}}</h1>
  <incoffee></incoffee>
</template>

<script>
import InCoffee from './InCoffee.vue'

export default {
  data () {
    return {
      msg: "Hello world"
    }
  },
  components: {
    'incoffee': InCoffee
  },

  // lifecycle methods
  ready () {
    this.$http.get('/api/one.json').then(
      // Success handler
      function(response) {
        this.msg = response.data.msg;
      },
      // Error handler
      function(response) {
        console.log(response);
      }

    )
  }
}
</script>
