<template>
  <input v-model="coffeeMsg">
  <h1> This is in Coffee :: {{ coffeeMsg }}
</template>

<script lang="coffee">
module.exports =
  data: () ->
    coffeeMsg: "In coffeescript! sdfsf"
</script>
