<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Computer properties example</title>

    <link rel="stylesheet" href="./style.css">
    <script src="../libs/vue.js" charset="utf-8"></script>
  </head>
  <body>

    <div id="main">
      <h1>If / Else example</h1>
      <p v-if='if_switch'>Var if_switch is On</p>
      <p v-else>Var if_switch is Off</p>

      <h1>Show / Else example</h1>
      <p v-show='show_switch'>Var show_switch is On</p>
      <p v-else>Var show_switch is Off</p>
    </div>



    <script src="./if-show-else.js" charset="utf-8"></script>
  </body>
</html>
