<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Computer properties example</title>

    <link rel="stylesheet" href="./style.css">
    <script src="../libs/vue.js" charset="utf-8"></script>
  </head>
  <body>

    <div id="main">

      <h1>The v-for tag. List of objects</h1>

      <h3>v-for. simple syntax</h3>
      <template v-for="item in items" track-by="_id">
        <span>{{ descriptor }} :: {{ $index }}) </span>
        {{ item.name }}
        <br>
      </template>
      <h3>v-for. explicit index</h3>
      <template v-for="(idx, item) in items" track-by="_id">
        <span>{{ descriptor }} :: {{ idx }}) </span>
        {{ item.name }}
        <br>
      </template>
      <h3>v-for. newer of syntax. es6 like</h3>
      <template v-for="item of items" track-by="_id">
        <span>{{ descriptor }} :: {{ $index }}) </span>
        {{ item.name }}
        <span @click="removeItem($index)">X<span>
        <br>
      </template>

      <h3>Array reactivity: Add</h3>
      <input v-model='newItem._id' />
      <input v-model='newItem.name' />
      <button @click='addNewItem'>Add New Item</button>
    </div>



    <script src="./list-rendering.js" charset="utf-8"></script>
  </body>
</html>
