
.class-a {
    background-color: red;
    /* color: black; */
}

.class-b {
  color: green;
}


.class-c {
    background-color: blue;
    /* color: black; */
}

.class-d {
  color: white;
  text: 20px;
}
